@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  src: url('/asset/font/roboto-mono.ttf');
}
:root {
  --red: #ff0000;
  --gray: #787878;
  --blue: #0000ff;
  --box-width: 46em;
  --white: #ffffff;
  --black: #000000;
  --box-padding: 1em;
  --font-size: 0.875em;
  --font-family: 'Roboto Mono', monospace;
}
::selection {
  color: var(--white);
  background-color: var(--blue);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
}
div {
  padding: var(--box-padding);
  max-width: var(--box-width);
}
div a {
  text-decoration: none;
}
div a,
a:visited {
  color: var(--blue);
}
div a:hover {
  text-decoration: underline;
}
div hr {
  border: 0;
  border-top: 1px solid var(--black);
}
div header h1 {
  margin-top: 0;
}
div main ul {
  list-style-type: square;
}
div.form main input::placeholder,
div.form main textarea::placeholder {
  font-size: 0.855em;
}
div.form main form sup {
  color: var(--red);
}
div.form main form textarea {
  width: 100%;
  height: 10em;
  max-height: 20em;
  resize: vertical;
}
div.form main form label {
  margin-right: 1em;
}
div.form main form input#name,
div.form main form input#subject {
  margin-bottom: 1em;
}
div.form main form input#name,
div.form main form input#email,
div.form main form input#subject {
  margin-top: 0.25em;
  width: 100%;
}
div.form main form input[type='checkbox'] {
  margin-top: 1em;
}
div.form main form button {
  margin: 1em 0;
  display: block;
}
